In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [2]:
data = pd.read_csv("stroke.csv", index_col=0)

In [3]:
data.head()

,gender,age,hypertension,alcohol_intake,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,,
9046,Male,67.0,147,2,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,135,4,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,115,3,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,125,2,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,130,3,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
print(data.dtypes)

gender                object
age                  float64
hypertension           int64
alcohol_intake         int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

Hypertension and alcohol are int datatype and needs to be converted to float

In [5]:
data['hypertension'] = data['hypertension'].astype(float) 
data['alcohol_intake'] = data['alcohol_intake'].astype(float)

In [6]:
print(data.dtypes)

gender                object
age                  float64
hypertension         float64
alcohol_intake       float64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [7]:
data = data.drop("ever_married" , axis=1)
data = data.drop("work_type" , axis=1)

In [8]:
for column in data.columns:
    if data[column].dtype == np.number:
        continue
    data[column] = LabelEncoder().fit_transform( data[column] )

In [9]:

data.head(10)

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,
9046,1,67.0,147.0,2.0,1,1,228.69,36.6,1,1
51676,0,61.0,135.0,4.0,0,0,202.21,NaN,2,1
31112,1,80.0,115.0,3.0,1,0,105.92,32.5,2,1
60182,0,49.0,125.0,2.0,0,1,171.23,34.4,3,1
1665,0,79.0,130.0,3.0,0,0,174.12,24.0,2,1
56669,1,81.0,127.0,1.0,0,1,186.21,29.0,1,1
53882,1,74.0,120.0,2.0,1,0,70.09,27.4,2,1
10434,0,69.0,121.0,3.0,0,1,94.39,22.8,2,1
27419,0,59.0,125.0,2.0,0,0,76.15,NaN,0,1
60491,0,78.0,115.0,5.0,0,1,58.57,24.2,0,1

In [10]:
data = data.fillna(data.mean())

In [11]:
X = data.drop(["stroke"], axis=1)
Y = data["stroke"]

In [12]:
x_scaler = MinMaxScaler()
x_scaler.fit(X)
column_names = X.columns
X[column_names]=x_scaler.transform(X)

In [13]:
data.head()

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,
9046,1,67.0,147.0,2.0,1,1,228.69,36.600000,1,1
51676,0,61.0,135.0,4.0,0,0,202.21,29.102656,2,1
31112,1,80.0,115.0,3.0,1,0,105.92,32.500000,2,1
60182,0,49.0,125.0,2.0,0,1,171.23,34.400000,3,1
1665,0,79.0,130.0,3.0,0,0,174.12,24.000000,2,1

In [14]:
X.head()

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status
id,,,,,,,,,
9046,1.0,0.816895,0.858974,0.333333,1.0,1.0,0.801173,0.301260,0.333333
51676,0.0,0.743652,0.782051,0.666667,0.0,0.0,0.678875,0.215380,0.666667
31112,1.0,0.975586,0.653846,0.500000,1.0,0.0,0.234159,0.254296,0.666667
60182,0.0,0.597168,0.717949,0.333333,0.0,1.0,0.535793,0.276060,1.000000
1665,0.0,0.963379,0.750000,0.500000,0.0,0.0,0.549141,0.156930,0.666667

In [15]:
X=np.array(X)

In [16]:
Y= np.array(Y)

In [17]:
from imblearn.over_sampling import SMOTE 
sm = SMOTE(random_state = 2) 
X_res, Y_res = sm.fit_sample(X,Y.ravel())

In [18]:
print("After OverSampling, counts of label '1': {}".format(sum(Y_res == 1))) 
print("After OverSampling, counts of label '0': {}".format(sum(Y_res == 0)))

After OverSampling, counts of label '1': 2751
After OverSampling, counts of label '0': 2751

In [19]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation,Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy
from tensorflow.keras.metrics import binary_crossentropy

In [20]:
model = Sequential([
    Dense(16, input_shape=(X_res.shape[1],), activation='relu'),
    Dense(32, activation='relu'),
    Dense(2, activation='softmax'),    
])

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                160
_________________________________________________________________
dense_1 (Dense)              (None, 32)                544
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 66
=================================================================
Total params: 770
Trainable params: 770
Non-trainable params: 0
_________________________________________________________________

# Compiling model

In [22]:
model.compile(optimizer=Adam(learning_rate = 0.0001),
             loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

# fit Function

In [23]:
model.fit(X_res,Y_res,validation_split=0.1,batch_size=10,epochs=30,shuffle=True,verbose=2)

Train on 4951 samples, validate on 551 samples
Epoch 1/30
4951/4951 - 2s - loss: 0.6934 - accuracy: 0.5391 - val_loss: 0.6777 - val_accuracy: 0.6352
Epoch 2/30
4951/4951 - 1s - loss: 0.6521 - accuracy: 0.6669 - val_loss: 0.7065 - val_accuracy: 0.4864
Epoch 3/30
4951/4951 - 1s - loss: 0.6141 - accuracy: 0.7223 - val_loss: 0.6517 - val_accuracy: 0.6642
Epoch 4/30
4951/4951 - 1s - loss: 0.5715 - accuracy: 0.7461 - val_loss: 0.6180 - val_accuracy: 0.6842
Epoch 5/30
4951/4951 - 1s - loss: 0.5356 - accuracy: 0.7566 - val_loss: 0.5815 - val_accuracy: 0.7296
Epoch 6/30
4951/4951 - 2s - loss: 0.5118 - accuracy: 0.7683 - val_loss: 0.5216 - val_accuracy: 0.7913
Epoch 7/30
4951/4951 - 1s - loss: 0.4955 - accuracy: 0.7732 - val_loss: 0.5239 - val_accuracy: 0.7840
Epoch 8/30
4951/4951 - 1s - loss: 0.4847 - accuracy: 0.7804 - val_loss: 0.5080 - val_accuracy: 0.7985
Epoch 9/30
4951/4951 - 1s - loss: 0.4765 - accuracy: 0.7841 - val_loss: 0.5142 - val_accuracy: 0.8004
Epoch 10/30
4951/4951 - 1s - loss: 0.4699 - accuracy: 0.7875 - val_loss: 0.5175 - val_accuracy: 0.7949
Epoch 11/30
4951/4951 - 1s - loss: 0.4652 - accuracy: 0.7879 - val_loss: 0.5044 - val_accuracy: 0.8022
Epoch 12/30
4951/4951 - 1s - loss: 0.4613 - accuracy: 0.7914 - val_loss: 0.5171 - val_accuracy: 0.7931
Epoch 13/30
4951/4951 - 1s - loss: 0.4585 - accuracy: 0.7897 - val_loss: 0.5000 - val_accuracy: 0.8004
Epoch 14/30
4951/4951 - 1s - loss: 0.4558 - accuracy: 0.7914 - val_loss: 0.4748 - val_accuracy: 0.8258
Epoch 15/30
4951/4951 - 1s - loss: 0.4540 - accuracy: 0.7928 - val_loss: 0.4839 - val_accuracy: 0.8185
Epoch 16/30
4951/4951 - 1s - loss: 0.4527 - accuracy: 0.7930 - val_loss: 0.4876 - val_accuracy: 0.8131
Epoch 17/30
4951/4951 - 1s - loss: 0.4510 - accuracy: 0.7922 - val_loss: 0.5086 - val_accuracy: 0.8004
Epoch 18/30
4951/4951 - 1s - loss: 0.4499 - accuracy: 0.7932 - val_loss: 0.4759 - val_accuracy: 0.8203
Epoch 19/30
4951/4951 - 1s - loss: 0.4489 - accuracy: 0.7972 - val_loss: 0.4919 - val_accuracy: 0.8131
Epoch 20/30
4951/4951 - 1s - loss: 0.4480 - accuracy: 0.7940 - val_loss: 0.4664 - val_accuracy: 0.8221
Epoch 21/30
4951/4951 - 1s - loss: 0.4475 - accuracy: 0.7936 - val_loss: 0.5133 - val_accuracy: 0.8058
Epoch 22/30
4951/4951 - 1s - loss: 0.4470 - accuracy: 0.7958 - val_loss: 0.4976 - val_accuracy: 0.8131
Epoch 23/30
4951/4951 - 1s - loss: 0.4463 - accuracy: 0.7946 - val_loss: 0.4627 - val_accuracy: 0.8276
Epoch 24/30
4951/4951 - 1s - loss: 0.4459 - accuracy: 0.7966 - val_loss: 0.4816 - val_accuracy: 0.8221
Epoch 25/30
4951/4951 - 1s - loss: 0.4455 - accuracy: 0.7952 - val_loss: 0.4743 - val_accuracy: 0.8258
Epoch 26/30
4951/4951 - 1s - loss: 0.4451 - accuracy: 0.7952 - val_loss: 0.4739 - val_accuracy: 0.8240
Epoch 27/30
4951/4951 - 1s - loss: 0.4444 - accuracy: 0.7966 - val_loss: 0.4619 - val_accuracy: 0.8312
Epoch 28/30
4951/4951 - 1s - loss: 0.4438 - accuracy: 0.7946 - val_loss: 0.4603 - val_accuracy: 0.8330
Epoch 29/30
4951/4951 - 1s - loss: 0.4435 - accuracy: 0.7966 - val_loss: 0.4636 - val_accuracy: 0.8294
Epoch 30/30
4951/4951 - 1s - loss: 0.4431 - accuracy: 0.7988 - val_loss: 0.4954 - val_accuracy: 0.8131

In [42]:
X_Testing2 = np.array([[1, 55.0, 121.0, 2.0, 0,0,111.19,39.67,0]])

In [43]:
X_Testing2=X_Testing2.reshape(1,-1)
X_Testing2=x_scaler.transform(X_Testing2)
Y_pred=model.predict(X_Testing2)
print(np.argmax(Y_pred[0]))

0

In [44]:
X_Testing = np.array([[1, 67.0, 147.0, 2.0, 1,1,228.69,36.60,1]])

In [45]:
X_Testing=X_Testing.reshape(1,-1)
X_Testing=x_scaler.transform(X_Testing)
Y_pred1=model.predict(X_Testing)
print(np.argmax(Y_pred1[0]))

1

In [46]:
X_Testing1 = np.array([[0, 71.0, 144.0, 2.0, 0,1,93.28,34.7,2]])

In [47]:
X_Testing1=X_Testing1.reshape(1,-1)
X_Testing1=x_scaler.transform(X_Testing1)
Y_pred2=model.predict(X_Testing1)
print(np.argmax(Y_pred2[0]))

1

In [48]:
X_Testing3 = np.array([[1, 80, 115, 3, 1,0,105.92,32.5,2]])

In [49]:
X_Testing3=X_Testing3.reshape(1,-1)
X_Testing3=x_scaler.transform(X_Testing3)
Y_pred3=model.predict(X_Testing3)
print(np.argmax(Y_pred3[0]))

1

In [50]:
X_Testing4= np.array([[1, 5,80,0,0,0,122.19,35.0,0]])

In [51]:
X_Testing4=X_Testing4.reshape(1,-1)
X_Testing4=x_scaler.transform(X_Testing4)
Y_pred4=model.predict(X_Testing4)
print(np.argmax(Y_pred4[0]))

0

In [52]:
X_Testing5= np.array([[1, 6,85,0,0,0,100,22.0,2]])

In [53]:
X_Testing5=X_Testing5.reshape(1,-1)
X_Testing5=x_scaler.transform(X_Testing5)
Y_pred5=model.predict(X_Testing5)
print(np.argmax(Y_pred5[0]))

0

In [54]:
X_Testing6 = np.array([[0, 78, 140, 5, 1,1,62.12,36.60,3]])

In [55]:
X_Testing6=X_Testing6.reshape(1,-1)
X_Testing6=x_scaler.transform(X_Testing6)
Y_pred6=model.predict(X_Testing6)
print(np.argmax(Y_pred6[0]))

1

In [65]:
Y_predict3 =model.predict(X_Testing3)
Y_predict3.shape

(1, 2)

In [66]:
print('Expected Output', Y_predict1[:,0])

Expected Output [1.]

NameError: name 'data' is not defined