In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [2]:
data = pd.read_csv("stroke.csv", index_col=0)

In [3]:
data.head()

,gender,age,hypertension,alcohol_intake,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,,
9046,Male,67.0,147,2,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,135,4,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,115,3,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,125,2,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,130,3,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
print(data.dtypes)

gender                object
age                  float64
hypertension           int64
alcohol_intake         int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

Hypertension and alcohol are int datatype and needs to be converted to float

In [5]:
data['hypertension'] = data['hypertension'].astype(float) 
data['alcohol_intake'] = data['alcohol_intake'].astype(float)

In [6]:
print(data.dtypes)

gender                object
age                  float64
hypertension         float64
alcohol_intake       float64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [7]:
data = data.drop("ever_married" , axis=1)
data = data.drop("work_type" , axis=1)

In [8]:
for column in data.columns:
    if data[column].dtype == np.number:
        continue
    data[column] = LabelEncoder().fit_transform( data[column] )

In [9]:
data.head(10)

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,
9046,1,67.0,147.0,2.0,1,1,228.69,36.6,1,1
51676,0,61.0,135.0,4.0,0,0,202.21,NaN,2,1
31112,1,80.0,115.0,3.0,1,0,105.92,32.5,2,1
60182,0,49.0,125.0,2.0,0,1,171.23,34.4,3,1
1665,0,79.0,130.0,3.0,0,0,174.12,24.0,2,1
56669,1,81.0,127.0,1.0,0,1,186.21,29.0,1,1
53882,1,74.0,120.0,2.0,1,0,70.09,27.4,2,1
10434,0,69.0,121.0,3.0,0,1,94.39,22.8,2,1
27419,0,59.0,125.0,2.0,0,0,76.15,NaN,0,1
60491,0,78.0,115.0,5.0,0,1,58.57,24.2,0,1

In [10]:
data = data.fillna(data.mean())

In [11]:
X = data.drop(["stroke"], axis=1)
Y = data["stroke"]

In [12]:
x_scaler = MinMaxScaler()
x_scaler.fit(X)
column_names = X.columns
X[column_names]=x_scaler.transform(X)

In [13]:
data.head()

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,
9046,1,67.0,147.0,2.0,1,1,228.69,36.600000,1,1
51676,0,61.0,135.0,4.0,0,0,202.21,29.102656,2,1
31112,1,80.0,115.0,3.0,1,0,105.92,32.500000,2,1
60182,0,49.0,125.0,2.0,0,1,171.23,34.400000,3,1
1665,0,79.0,130.0,3.0,0,0,174.12,24.000000,2,1

In [14]:
X.head()

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status
id,,,,,,,,,
9046,1.0,0.816895,0.858974,0.333333,1.0,1.0,0.801173,0.301260,0.333333
51676,0.0,0.743652,0.782051,0.666667,0.0,0.0,0.678875,0.215380,0.666667
31112,1.0,0.975586,0.653846,0.500000,1.0,0.0,0.234159,0.254296,0.666667
60182,0.0,0.597168,0.717949,0.333333,0.0,1.0,0.535793,0.276060,1.000000
1665,0.0,0.963379,0.750000,0.500000,0.0,0.0,0.549141,0.156930,0.666667

In [15]:
X=np.array(X)

In [16]:
Y= np.array(Y)

In [17]:
from imblearn.over_sampling import SMOTE 
sm = SMOTE(random_state = 2) 
X_res, Y_res = sm.fit_sample(X,Y.ravel())

In [18]:
print("After OverSampling, counts of label '1': {}".format(sum(Y_res == 1))) 
print("After OverSampling, counts of label '0': {}".format(sum(Y_res == 0)))

After OverSampling, counts of label '1': 2751
After OverSampling, counts of label '0': 2751

In [19]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation,Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy

In [41]:
model = Sequential([
    Dense(32, input_shape=(X_res.shape[1],), activation='relu'),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(2, activation='softmax'),    
])

In [42]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 32)                320
_________________________________________________________________
dense_22 (Dense)             (None, 32)                1056
_________________________________________________________________
dense_23 (Dense)             (None, 16)                528
_________________________________________________________________
dense_24 (Dense)             (None, 2)                 34
=================================================================
Total params: 1,938
Trainable params: 1,938
Non-trainable params: 0
_________________________________________________________________

# Compiling model

In [43]:
model.compile(optimizer=Adam(learning_rate = 0.0001),
             loss='sparse_categorical_crossentropy',
             metrics=['accuracy'])

# fit Function

In [44]:
model.fit(X_res,Y_res,validation_split=0.1,batch_size=10,epochs=30,shuffle=True,verbose=2)

Train on 4951 samples, validate on 551 samples
Epoch 1/30
4951/4951 - 3s - loss: 0.6784 - accuracy: 0.5896 - val_loss: 0.6930 - val_accuracy: 0.5281
Epoch 2/30
4951/4951 - 1s - loss: 0.6363 - accuracy: 0.6861 - val_loss: 0.6753 - val_accuracy: 0.5753
Epoch 3/30
4951/4951 - 1s - loss: 0.5738 - accuracy: 0.7376 - val_loss: 0.6254 - val_accuracy: 0.6770
Epoch 4/30
4951/4951 - 1s - loss: 0.5209 - accuracy: 0.7627 - val_loss: 0.5290 - val_accuracy: 0.7858
Epoch 5/30
4951/4951 - 1s - loss: 0.4931 - accuracy: 0.7772 - val_loss: 0.5096 - val_accuracy: 0.7985
Epoch 6/30
4951/4951 - 1s - loss: 0.4777 - accuracy: 0.7833 - val_loss: 0.5152 - val_accuracy: 0.7931
Epoch 7/30
4951/4951 - 1s - loss: 0.4680 - accuracy: 0.7819 - val_loss: 0.5153 - val_accuracy: 0.7858
Epoch 8/30
4951/4951 - 1s - loss: 0.4612 - accuracy: 0.7839 - val_loss: 0.5175 - val_accuracy: 0.7858
Epoch 9/30
4951/4951 - 1s - loss: 0.4566 - accuracy: 0.7869 - val_loss: 0.4894 - val_accuracy: 0.7931
Epoch 10/30
4951/4951 - 1s - loss: 0.4532 - accuracy: 0.7891 - val_loss: 0.4879 - val_accuracy: 0.7985
Epoch 11/30
4951/4951 - 1s - loss: 0.4504 - accuracy: 0.7889 - val_loss: 0.4813 - val_accuracy: 0.8022
Epoch 12/30
4951/4951 - 2s - loss: 0.4479 - accuracy: 0.7920 - val_loss: 0.4973 - val_accuracy: 0.7931
Epoch 13/30
4951/4951 - 1s - loss: 0.4462 - accuracy: 0.7940 - val_loss: 0.4698 - val_accuracy: 0.8167
Epoch 14/30
4951/4951 - 2s - loss: 0.4447 - accuracy: 0.7942 - val_loss: 0.4974 - val_accuracy: 0.7949
Epoch 15/30
4951/4951 - 2s - loss: 0.4427 - accuracy: 0.7940 - val_loss: 0.4814 - val_accuracy: 0.8113
Epoch 16/30
4951/4951 - 2s - loss: 0.4412 - accuracy: 0.7958 - val_loss: 0.4714 - val_accuracy: 0.8149
Epoch 17/30
4951/4951 - 1s - loss: 0.4394 - accuracy: 0.7962 - val_loss: 0.4830 - val_accuracy: 0.8113
Epoch 18/30
4951/4951 - 2s - loss: 0.4385 - accuracy: 0.7954 - val_loss: 0.4635 - val_accuracy: 0.8221
Epoch 19/30
4951/4951 - 2s - loss: 0.4367 - accuracy: 0.8000 - val_loss: 0.5035 - val_accuracy: 0.7949
Epoch 20/30
4951/4951 - 1s - loss: 0.4362 - accuracy: 0.8000 - val_loss: 0.4863 - val_accuracy: 0.8076
Epoch 21/30
4951/4951 - 2s - loss: 0.4346 - accuracy: 0.8000 - val_loss: 0.4717 - val_accuracy: 0.8203
Epoch 22/30
4951/4951 - 2s - loss: 0.4333 - accuracy: 0.8023 - val_loss: 0.4915 - val_accuracy: 0.8040
Epoch 23/30
4951/4951 - 2s - loss: 0.4319 - accuracy: 0.8027 - val_loss: 0.4904 - val_accuracy: 0.8113
Epoch 24/30
4951/4951 - 2s - loss: 0.4311 - accuracy: 0.8033 - val_loss: 0.4808 - val_accuracy: 0.8131
Epoch 25/30
4951/4951 - 1s - loss: 0.4297 - accuracy: 0.8029 - val_loss: 0.4319 - val_accuracy: 0.8494
Epoch 26/30
4951/4951 - 1s - loss: 0.4288 - accuracy: 0.8059 - val_loss: 0.4619 - val_accuracy: 0.8312
Epoch 27/30
4951/4951 - 2s - loss: 0.4274 - accuracy: 0.8059 - val_loss: 0.4336 - val_accuracy: 0.8439
Epoch 28/30
4951/4951 - 2s - loss: 0.4269 - accuracy: 0.8049 - val_loss: 0.4681 - val_accuracy: 0.8221
Epoch 29/30
4951/4951 - 2s - loss: 0.4253 - accuracy: 0.8073 - val_loss: 0.4349 - val_accuracy: 0.8385
Epoch 30/30
4951/4951 - 2s - loss: 0.4244 - accuracy: 0.8081 - val_loss: 0.4578 - val_accuracy: 0.8367

In [45]:
X_Testing = np.array([[1, 67.0, 147.0, 2.0, 1,1,228.69,36.60,1]])

In [47]:
Y_predict =model.predict(X_Testing)
Y_predict.shape

(1, 2)

In [49]:
print('Expected Output', Y_predict[:,0])

Expected Output [1.]

In [52]:
X_Testing = np.array([[0, 60.0, 145.0, 4.0, 0,0,230.78,40.2,2]])

In [53]:
Y_predict =model.predict(X_Testing)
Y_predict.shape

(1, 2)

In [54]:
print('Expected Output', Y_predict[:,0])

Expected Output [1.]

In [57]:
X_Testing1 = np.array([[0, 14.0, 90.0, 0.0, 0,1,117.78,19.5,2]])

In [58]:
Y_predict1 =model.predict(X_Testing1)
Y_predict1.shape

(1, 2)

In [59]:
print('Expected Output', Y_predict1[:,0])

Expected Output [1.]

In [62]:
data.tail()

,gender,age,hypertension,alcohol_intake,heart_disease,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,
4750,1,78.0,148.0,0.0,0,1,85.03,26.100000,1,0
65127,0,35.0,132.0,4.0,0,1,80.76,28.800000,3,0
4498,1,71.0,151.0,5.0,1,1,204.98,29.102656,1,0
32203,0,57.0,140.0,2.0,0,0,95.36,32.400000,1,0
27436,1,12.0,97.0,0.0,0,1,110.33,20.400000,0,0

In [64]:
X_Testing3 = np.array([[1, 78.0, 148.0, 0.0, 0,1,85.03,26.10,1]])

In [65]:
Y_predict3 =model.predict(X_Testing3)
Y_predict3.shape

(1, 2)

In [66]:
print('Expected Output', Y_predict1[:,0])

Expected Output [1.]